@import url('https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700;9..144,800;9..144,900&family=Montserrat:wght@500;600;700;800;900&display=swap');

:root {
    --white:#ffffff;
    --darkgrey:#747682;
    --mediumlightgrey:#707176;
    --darkgreen:#3D8168;
    --black:#000000;
    --bluishblack:#242A31;
    --cream:#F2E9E2;
}

*, a{
    color:var(--black);
    cursor: pointer;
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    font-weight: 500;
    margin: 0px 0px 0px 0px;
    text-decoration: none;
}

body {
    background-color: var(--cream);
}

.card-container {
    background-color: var(--white);
    border-radius: 10px;
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    width: 344px;
    height: 600px;
    margin:30px 15px;
    margin-left: auto;
    margin-right: auto;
}

/* IMAGE */
.image-content {
    height: 239px;
    border-top-left-radius: 10px;
    border-bottom-left-radius:0px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 0px;
    background-image: url("./images/image-product-mobile.jpg");
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* CONTENT */
.full-content {
    margin: 20px;
}

.top-content h2 {
    color: var(--mediumlightgrey);
    font-size: 1.35em;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 5px;
    margin-bottom: 20px;
}

.top-content h1 {
    color: var(--bluishblack);
    font-size: 2.5em;
    font-weight: 800;
    font-family: 'Fraunces', serif;
    line-height: 36px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.paragraph p {
    color: var(--darkgrey);
    font-size: 1em;
    font-weight: 500;
    line-height: 20px;
    margin-top: 20px;
    margin-bottom: 5px;
    margin-right: 30px;
}

.amount {
    align-items: center;
    display: grid;
    grid-template-columns: repeat(2, 150px);
    justify-content: start;
    margin-top: 20px;
    margin-bottom: 8px
}

.amount .correct-val p{
    color: var(--darkgreen);
    font-size: 2.5em;
    font-weight: 800;
    font-family: 'Fraunces', serif;
}

.amount .strikethrough-val p {
    color: var(--mediumlightgrey);
    text-decoration: line-through;
}

.button {
    align-items: center;
    background-color: var(--darkgreen);
    border-radius: 8px;
    border: none;
    height: 50px;
    margin-top: 16px;
    padding-left: 80px;
    padding-right: 80px;
    width: 300px;
}

.button .button-pd {
    display: grid;
    grid-template-columns: repeat(2,1fr);
}

.button  .img {
    height: 16px;
    width: 15px;
}

.button  p {
    min-width: 100px;
    font-size: 1.2em;
    color: var(--white);
    font-weight: 500;
}

@media screen and (min-width: 768px){
    .card-container {
        grid-template-rows:0;
        grid-template-columns: repeat(2, 1fr);
        width: 600px;
        height: 450px;
        margin-left: auto;
        margin-right: auto;
        margin-top: 150px;
        margin-bottom: auto;
    }

    .image-content {
        width: 300px;
        height: 450px;
        border-top-left-radius: 10px;
        border-bottom-left-radius:0px;
        border-top-right-radius: 0px;
        border-bottom-right-radius: 0px;
        background-image: url("./images/image-product-desktop.jpg");
    }

    .full-content {
        margin: 40px 30px;
        max-width: 250px;
    }

    .paragraph p {
        margin-right: 40px;
    }
    
    .button {
        width: 240px;
        margin-top: 20px;
        padding-left: 60px;
        padding-right: 60px;
    }
}